*{
    margin: 0;
    padding: 0;
}

header{
    padding: 30px 10px;
    background-color: #ccc3;
}
header nav ul{
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 50%;
    list-style: none;
}
header nav ul li{
    padding: 5px 0px;
}
header nav ul li a:hover{
    color: rgb(107, 105, 105);
    text-decoration: underline;
}
header nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    transition: 0.3s;
}
.flex{
    padding: 10px 0px 20px 0px;
    display: flex;
    justify-content: space-between;
}